body {
  font-family: 'Roboto', sans-serif;
}

main {
  max-width: 250px;
  margin: 16px auto 0px;
  padding: 32px;
  border: 4px dashed gray;
}

form {
  display: flex;
  justify-content: center;
}

input, button {
  width: 50px;
  margin: 0px 4px;
}

div {
  margin-top: 32px;
}